.addForm {
    padding-top: 5%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.generate {
    max-width: 20%;
    margin-right: auto;
    margin-left: 10%;
}

.submit {
    max-width: 10%;
    margin-left: auto;
    margin-right: 10%;
}